<nav class="navbar">
  <div class="navbar-left">
  </div>
  <div class="navbar-right">
    <a href="#" class="nav-link">Help Centre</a>
    <a href="#" class="nav-link">AdChoices</a>
    <a href="#" class="nav-link sign-off">Sign off</a>
  </div>
 
</nav>
<div class="logo-container">
  <img src="/assets/cibc-logo-white.svg" alt="cibc-white" class="cibc-logo" />
</div>
<div class="navbar-below-logo">
  <button class="nav-button active">Banking</button>
  <button class="nav-button">Investing</button>
  <button class="nav-button offers-and-products">
    Offers and products 
    <span class="notification-dot"></span>
  </button>
  <input type="text" placeholder="Search" class="search-input" />
</div>
